# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Compiled files
*.exe
*.obj
*.o
*.a
*.lib
*.dll
*.so
*.dylib

# Debug files
*.pdb
*.idb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Release files
Release/
Debug/
x64/
x86/ 